@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

body {
    position: relative;

    .solar_globe {
        position: absolute;
        right: 0;
        top: 124px;
        z-index: 100;
    }
}

header {
    position: relative;
    overflow: hidden;

    #headerVideo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .navigation {
        position: relative;
        padding: 42px 0 32px;

        .btn {
            height: 48px;
            font-size: 17px;
        }
    }

    .banner {
        position: relative;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;

        .banner_wrapper {
            padding: 105px 0;
            border-right: 1px solid $dark;
            position: relative;

            .free_solar_design {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: imgUrl('solar-elec.png', 'lib') center;
                right: 70px;
                top: 16px;

                .mainImg {
                    animation-name: rotate;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    .brands {
        position: relative;

        .brands_wrapper {
            padding: 36px 0;
            border-right: 1px solid $dark;

            #brands_slider {
                .slick-track {
                    display: flex;
                }

                .slick-slide {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    margin: 0 20px;
                }
            }
        }
    }
}

section.government_assistance {
    background: imgUrl('government_assistance.jpg');
    background-size: cover;

    .government_assistance_wrapper {
        padding: 114px 0 79px;
        border-right: 1px solid $white;

        .handcash {
            position: absolute;
            left: 51%;
            top: 15%;
            z-index: 1;
            transform: rotate(20deg);
            animation-name: bounce;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @keyframes bounce {
            0% {
                transform: rotate(20deg);
            }

            40%,
            50%,
            60%,
            80% {
                transform: rotate(50deg);
                left: 70%;
            }

            100% {
                transform: rotate(20deg);
            }
        }

        .phone {
            position: relative;
            z-index: 2;
        }
    }

    .main_content {
        padding: 148px 64px;
    }

    .free_solar_design {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: imgUrl('solar_elec_white.png', 'lib') center;

        .mainImg {
            animation-name: rotate;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes rotate {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

section.renewable_energy {
    background: imgUrl('renewable-energy.jpg');
    background-size: cover;

    .inner {
        background: imgUrl('marble.png') right bottom;

        .renewable_energy_wrapper {
            border-right: 1px solid $dark;
            padding: 167px 0 117px;

            .free_solar_design {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: imgUrl('solar-elec-2.png', 'lib') center;
                right: 70px;
                top: 16px;

                .mainImg {
                    animation-name: rotate;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .solar_sheets {
            padding: 42px 64px 90px;

        }

        .solar_sheet_img {
            margin-top: -50px;
            margin-left: -95px;
        }
    }
}

section.offering {
    padding: 104px 0;

    .offering-1 {
        background: #ff8800 imgUrl('cartoon-sun.png', 'lib') top 34px right 34px;
    }

    .offering-2 {
        background: #58D20D imgUrl('cartoon-solar.png', 'lib') center right 34px;
    }

    .offering-1,
    .offering-2 {
        border-radius: 54px;
        min-height: 100%;
        height: 480px;
        padding: 37px 24px 37px 68px;
        display: flex;
        align-items: end;
    }
}

section.advantage {
    padding: 117px 0;

    .advantage-1 {
        background: #24367D;
        margin-top: 145px;

        .fancy-dollar {
            filter: drop-shadow(-52px 83px 27px rgba(0, 0, 0, 0.25));
        }
    }

    .advantage-2 {
        background: imgUrl('aurora.jpg');
        background-size: cover;
        filter: drop-shadow(-29px 21px 31px rgba(0, 0, 0, 0.25));
        margin-left: -126px;
    }

    .advantage-1,
    .advantage-2 {
        width: 662px;
        height: 1111px;
        border-radius: 54px;
        padding: 73px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .servicing_areas {
        padding: 128px 0;
    }
}

.testimonials {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        border: 2px solid rgba(8, 15, 42, 0.5);
        border-radius: 31px;
        padding: 39px 32px;
        height: inherit;
        margin: 0 14px;
        color: $tertiary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

section.government_benefits {
    padding: 142px 0;

    .government_benefits_inner {
        background: imgUrl('government_benefits.jpg');
        background-size: cover;
        border-radius: 54px;
        padding: 192px 16px;
        text-align: center;
        position: relative;

        .cartoon_hand_elec {
            position: absolute;
            top: 30px;
            right: 45px;
        }

        .cartoon_solar_panel {
            position: absolute;
            bottom: 10px;
            left: 0;
        }

        .playButton {
            position: absolute;
            right: 45px;
            bottom: 38px;
        }
    }
}

footer {
    position: relative;
    border-radius: 54px;
    font-family: $font-dmsans;
    overflow: hidden;
    margin-bottom: 109px;
    padding-left: 145px;

    #footerVideo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .top_row {
        padding: 121px 0 42px;

        ul.footer_menu {
            list-style: none;
            padding-inline-start: 0;
    
            li {
                .nav-link {
                    font-size: 24px;
                    color: $dark;
                    text-decoration: none;
                    line-height: 1;
                    padding: 0;
                }
    
                padding: 12px 0;
            }
        }
    }

    .divider_line {
        border: 1.33333px solid $dark;
        opacity: 0.5;
    }

    .footer_bulb {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}