@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.sticky-menu {
    width: 100%;
    background-color: $dark;
    position: fixed;
    z-index: 1000;
    bottom: 0;

    @include media-breakpoint-up(md) {
        display: none;
    }
}


#form {
    form {
        .modal-title, .btn, .form-control {
            font-family: $font-dmsans;
        }

        input, select {
            min-height: 54px;

            &::placeholder {
                font-weight: 300;
                opacity: 0.5;

            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        button {
            height: 54px;
            font-size: 20px;
        }
    }
}

body {
    position: relative;

    .solar_globe {
        position: absolute;
        right: 0;
        top: 124px;
        z-index: 100;

        @include media-breakpoint-down(xxl) {
            width: 500px;
        }

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

header {
    position: relative;
    overflow: hidden;

    #headerVideo {
        position: absolute;
        top: 0;
        left: 0;
        
        @include media-breakpoint-down(xxl) {
            height: 100%;
            width: auto;
        }
    }

    .navigation {
        position: relative;
        padding: 42px 0 32px;

        @include media-breakpoint-down(xl) {
            padding: 32px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 18px 0 8px;
        }

        .btn {
            height: 48px;
            font-size: 17px;
        }
    }

    .banner {
        position: relative;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;

        @include media-breakpoint-down(sm) {
            h1.heading {
                font-size: 38px !important;
            }

            .description {
                font-size: 1.125rem !important;
            }
        }

        .solar_globe_banner {
            position: absolute;
            right: 0;
            top: 20px;
            width: 65%;
            z-index: 10;

            @include media-breakpoint-up(lg) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        .mob-clean-energy-council {
            padding: 33px 0;
        }

        .banner_wrapper {
            border-right: 1px solid $dark;
            position: relative;
            padding: 324px 12px 0;

            @include media-breakpoint-up(md) {
                padding: 600px 12px 64px;
            }

            @include media-breakpoint-up(lg) {
                padding: 180px 12px 64px;
            }

            @include media-breakpoint-up(xl) {
                padding: 105px 0;
            }

            .free_solar_design {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: imgUrl('solar-elec.png', 'lib') center;
                right: 70px;
                top: 16px;

                @include media-breakpoint-down(xl) {
                    right: 50px;
                    top: 48px;
                }

                @include media-breakpoint-down(lg) {
                    right: 300px;
                    top: 48px;
                }

                @include media-breakpoint-down(sm) {
                    right: 120px;
                    top: 48px;
                }

                .mainImg {
                    animation-name: rotate;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    .brands {
        position: relative;

        .heading {
            @include media-breakpoint-down(sm) {
                font-size: 1rem !important;
                padding-bottom: 16px;
            }
        }

        .brands_wrapper {
            padding: 36px 0;

            @include media-breakpoint-only(lg) {
                padding: 36px 12px;
            }
            
            @include media-breakpoint-up(xl) {
                border-right: 1px solid $dark;
            }
            
            @include media-breakpoint-down(sm) {
                padding: 16px 12px;
            }

            #brands_slider {
                .slick-track {
                    display: flex;
                }

                .slick-slide {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    margin: 0 20px;

                    @include media-breakpoint-down(sm) {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}

section.government_assistance {
    position: relative;
    overflow: hidden;

    #governmentAssistanceVideo {
        position: absolute;
        top: 0;
        left: 0;

        @include media-breakpoint-down(xxl) {
            height: 100%;
            width: auto;
        }
    }

    .government_assistance_wrapper {
        padding: 114px 0 79px;

        @include media-breakpoint-up(lg) {
            border-right: 1px solid $white;
        }

        @include media-breakpoint-only(md) {
            .phone {
                width: 70%;
            }

            .handcash {
                width: 229px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 114px 0 0;
        }

        .handcash {
            position: absolute;
            left: 51%;
            top: 15%;
            z-index: 1;
            transform: rotate(20deg);
            transition: 1s;

            @include media-breakpoint-down(sm) {
                width: 41%;
            }

            &.animate {
                transform: rotate(50deg);
                left: 70%;
                transition: 1s;
            }
        }

        .phone {
            position: relative;
            z-index: 2;
        }
    }

    .main_content {
        padding: 148px 64px;

        @include media-breakpoint-down(xl) {
            padding: 0 48px 64px;
        }

        @include media-breakpoint-down(sm) {
            padding: 61px 12px;
            text-align: center;
        }
    }

    .free_solar_design {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: imgUrl('solar_elec_white.png', 'lib') center;

        .mainImg {
            animation-name: rotate;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes rotate {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

section.renewable_energy {
    background: imgUrl('renewable-energy-sm.jpg');
    background-size: contain;

    @include media-breakpoint-up(md) {
        background: imgUrl('renewable-energy.jpg');
        background-size: cover;
    }

    .inner {
        background: imgUrl('marble-sm.png') right top 300px;

        @include media-breakpoint-up(md) {
            background: imgUrl('marble.png') right bottom;
        }

        .renewable_energy_wrapper {
            border-right: 1px solid $dark;
            padding: 40px 12px;

            @include media-breakpoint-up(lg) {
                padding: 40px 12px 117px;
            }

            @include media-breakpoint-up(xl) {
                padding: 167px 0 117px;
            }

            @include media-breakpoint-only(md) {
                border: 0;
            }

            @include media-breakpoint-down(sm) {
                .heading {
                    font-size: 38px !important;
                }

                .description {
                    font-size: 1.125rem !important;
                }

                .button {
                    font-size: 1.25rem !important;
                }
            }

            .free_solar_design {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: imgUrl('solar-elec-2.png', 'lib') center;
                right: 70px;
                top: 16px;

                .mainImg {
                    animation-name: rotate;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .solar_sheets {
            padding: 42px 64px 90px;

            @include media-breakpoint-down(sm) {
                padding: 42px 26px;
            }

        }

        .solar_sheet_img {
            margin-top: -50px;
            margin-left: -95px;

            @include media-breakpoint-only(lg) {
                margin-left: 0;
            }
        }
    }
}

section.offering {
    padding: 104px 0;

    @include media-breakpoint-down(sm) {
        padding: 40px 0;

        .heading {
            font-size: 32px !important;
        }
    }

    .offering-1 {
        background: #ff8800;
    }

    .offering-2 {
        background: #58D20D;
    }

    .offering-1,
    .offering-2 {
        border-radius: 54px;
        min-height: 100%;
        
        .first, .second {
            padding: 37px 48px;

            @include media-breakpoint-down(sm) {
                padding: 16px 24px;

                .cartoon img{
                    max-width: 150px;
                }
            }

            .description {
                font-size: 18px;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }

        }

        .sm_text {
            font-size: 36px;
        }

        .lg_text {
            font-size: 48px;
        }

        @include media-breakpoint-down(sm) {
            border-radius: 24px;

            .sm_text {
                font-size: 16px;
            }

            .lg_text {
                font-size: 22px;
            }
        }
    }
}

section.advantage {
    padding: 117px 0;

    @include media-breakpoint-down(lg) {
        padding: 48px 0;
    }

    .advantage-1 {
        background: #24367D;
        margin-top: 145px;

        .fancy-dollar {
            filter: drop-shadow(-52px 83px 27px rgba(0, 0, 0, 0.25));

            @include media-breakpoint-down(sm) {
                width: 50%;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-top: 41px;
        }
    }

    .advantage-2 {
        background: imgUrl('aurora.jpg');
        background-size: cover;
        filter: drop-shadow(-29px 21px 31px rgba(0, 0, 0, 0.25));
        margin-left: -126px;

        @include media-breakpoint-down(lg) {
            margin-left: -103px;
        }

        @include media-breakpoint-down(sm) {
            margin-left: -20px;
        }
    }

    .advantage-1,
    .advantage-2 {
        width: 662px;
        height: 1111px;
        border-radius: 54px;
        padding: 73px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        @include media-breakpoint-down(lg) {
            padding: 24px;
            width: 410px;
        }

        @include media-breakpoint-down(sm) {
            width: 192px;
            height: 370px;
            border-radius: 16px;
            padding: 22px;

            .heading {
                font-size: 14px !important;
            }

            .btn {
                height: 27px;
                font-size: 12px;
            }
        }
    }

    .servicing_areas {
        padding: 128px 0;
        position: relative;

        .bigpin {
            position: absolute;
            top: -250px;
            right: 0;

            @include media-breakpoint-down(xxl) {
                display: none;
            }
        }

        .smallpin {
            position: absolute;
            left: 0;
            bottom: -80px;
            
            @include media-breakpoint-down(xxl) {
                display: none;
            }
        }

        .pin {
            text-align: end;
            margin-bottom: -50px;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        @include media-breakpoint-only(lg) {
            padding: 80px 0 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 45px 0 0;

            .heading {
                font-size: 40px !important;
            }
        }
    }
}

.testimonials {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        border: 2px solid rgba(8, 15, 42, 0.5);
        border-radius: 31px;
        padding: 39px 32px;
        height: inherit;
        margin: 0 14px;
        color: $tertiary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading {
            font-size: 32px;
        }

        .description {
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            padding: 22px 20px;
            margin: 0 9px;

            .heading {
                font-size: 18px;
            }

            .description {
                font-size: 14px;
            }
        }
    }
}

section.government_benefits {
    padding: 142px 0;

    @include media-breakpoint-down(sm) {
        padding: 44px 0 38px;
    }

    .government_benefits_inner {
        background: imgUrl('government_benefits.jpg');
        background-size: cover;
        border-radius: 54px;
        text-align: center;
        position: relative;

        @include media-breakpoint-down(sm) {
            border-radius: 20px;
        }

        .wrapper {
            background: imgUrl('government_benefits_inner.png') center;
            background-size: contain;
            padding: 192px 16px;

            @include media-breakpoint-down(lg) {
                padding: 120px 16px;
            }

            @include media-breakpoint-down(sm) {
                padding: 55px 16px;

                .btn {
                    height: 23px;
                }

                .heading {
                    font-size: 19px !important;
                }
            }

        }
    }
}

footer {
    position: relative;
    border-radius: 54px;
    font-family: $font-dmsans;
    overflow: hidden;
    margin-bottom: 109px;
    padding-left: 145px;

    @include media-breakpoint-down(xxl) {
        padding-left: 48px;
    }

    @include media-breakpoint-down(xl) {
        padding: 0 48px;
        margin-bottom: 37px;
    }

    @include media-breakpoint-down(sm) {
        border-radius: 20px;
        padding: 0 16px;
        margin-bottom: 100px;
    }

    #footerVideo {
        position: absolute;
        top: 0;
        left: 0;

        @include media-breakpoint-down(xl) {
            height: 100%;
            width: auto;
        }
    }

    .top_row {
        padding: 121px 0 42px;

        @include media-breakpoint-down(lg) {
            padding: 80px 0 42px;
        }
        
        @include media-breakpoint-down(sm) {
            padding: 24px 16px;

            .subHeading {
                font-size: 16px !important;
            }
        }

        ul.footer_menu {
            list-style: none;
            padding-inline-start: 0;

            li {
                .nav-link {
                    font-size: 24px;
                    color: $dark;
                    text-decoration: none;
                    line-height: 1;
                    padding: 0;

                    @include media-breakpoint-down(sm) {
                        font-size: 16px;
                    }
                }

                padding: 12px 0;
            }
        }
    }

    .divider_line {
        border: 1.33333px solid $dark;
        opacity: 0.5;
    }

    .footer_bulb {
        position: absolute;
        bottom: 0;
        right: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .copyright {
        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        @include media-breakpoint-down(sm) {
            font-size: 10px !important;
        }
    }
}